* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ac7c3d;
}
.container {    
    width: 1600px;
    height: 800px;
    padding: 0;
    margin: 60px auto;
    background-color: #539a46;
    position: relative;
    border: 3px solid #ffffff;
}

.goal-left {
    width: 125px;
    height: 250px;
    border: 3px solid #ffffff;
    border-left: none;
    position: absolute;
    left: 0px;
    top: 250px;   
}

.goal-right {
    width: 125px;
    height: 250px;
    border: 3px solid #ffffff;
    border-right: none;
    position: absolute; 
    right: 0px;
    top: 250px;
}

.area-right {
    width: 250px;
    height: 450px;
    border: 3px solid #ffffff;
    border-right: none;
    position: absolute;   
    right: 0px;
    top: 150px;
}

.area-left {
    width: 250px;
    height: 450px;
    border: 3px solid #ffffff;
    border-left: none;
    position: absolute; 
    left:0px;
    right: 0px;
    top: 150px;
}

.mid-line {
    width: 800px;
    height: 800px;
    border-right: 3px solid #ffffff;
    position: absolute;
}

.mid-circle {
    width: 300px;
    height: 300px;
    border: 3px solid #ffffff;
    position: absolute;
    top: 220px;
    left: 650px;
    border-radius: 50%;    
}

.mid-spot {
    width: 15px;
    height: 15px;
    border: 3px solid #ffffff;
    position: absolute;
    top: 360px;
    left: 791px;
    border-radius: 50%;
    background-color: #ffffff;
}

.p-spot-left {
    width: 10px;
    height: 10px;
    border: 3px solid #ffffff;
    position: absolute;
    top: 365px;
    left: 180px;
    border-radius: 50%;
    background-color: #ffffff;
}

.p-spot-right {
    width: 10px;
    height: 10px;
    border: 3px solid #ffffff;
    position: absolute;
    top: 365px;
    right: 180px;
    border-radius: 50%;
    background-color: #ffffff;
}

.half-circle-left {
    height: 100px;
    width: 200px;  
    border: 3px solid #ffffff;
    position: absolute;
    border-radius: 0px 0px 150px 150px;
    transform: rotate(-90deg);
    top: 320px;
    left: 200px;
}

.half-circle-right {
    height: 100px;
    width: 200px;  
    border: 3px solid #ffffff;
    position: absolute;
    border-radius: 0px 0px 150px 150px;
    transform: rotate(90deg);
    top: 320px;
    right: 200px;
}

.corner {
    height: 50px;
    width: 50px;
    border: 3px solid #ffffff;
    position: absolute;
    border-top: none;
    border-left: none;
    border-bottom-right-radius: 100%;
}

.corner-top-left {
    height: 50px;
    width: 50px;
    border: 3px solid #ffffff;
    position: absolute;
    border-top: none;
    border-left: none;
    border-bottom-right-radius: 100%;
}

.corner-top-right {
    height: 50px;
    width: 50px;
    border: 3px solid #ffffff;
    position: absolute;
    border-top: none;
    border-left: none;
    border-bottom-right-radius: 100%;
    right: 0px;
    transform: rotate(90deg);
}

.corner-bottom-right {
    height: 50px;
    width: 50px;
    border: 3px solid #ffffff;
    position: absolute;
    border-top: none;
    border-left: none;
    border-bottom-right-radius: 100%;
    right: 0px;
    bottom: 0px;
    transform: rotate(180deg);
}

.corner-bottom-left {
    height: 50px;
    width: 50px;
    border: 3px solid #ffffff;
    position: absolute;
    border-top: none;
    border-left: none;
    border-bottom-right-radius: 100%;
    left: 0px;
    bottom: 0px;
    transform: rotate(-90deg);
}





